ASSIGNMENT REQUIREMENTS:
FROM RUBERIC:

Project 1:
	(DONE) Sprite Import and Display
	(DONE) GetKeyDown() or GetButtonDown()
	(DONE) GetKey() or GetButton() or GetAxis()
	(DONE) Movement Speed available in Inspector
	(DONE) Application.Quit()

Project 2:
	(DONE) GameManager Singleton
	(DONE) OnTriggerEnter2D()
	(DONE) Instantiate()
	(DONE) Destroy after Delay(Lifespan)
	(DONE) GameManager controls GameLogic (Lives/Spawns/GameOver)

Project 3:
	(DONE) Canvas Screen Space
	(DONE) Canvas Buttons
	(DONE) Canvas Scaling
	(DONE) Canvas Text Object
	(DONE) Physics2D.Raycast()

Project 4:
    (DONE) Multiple Scenes
	(DONE) Player affected by gravity
	(DONE) Detect if player is grounded
	(DONE) Music
	(DONE) Checkpoints
