ASSIGNMENT REQUIREMENTS:
FROM RUBERIC:

Project 1:
	(DONE) Sprite Import and Display
	(DONE) GetKeyDown() or GetButtonDown()
	(DONE) GetKey() or GetButton() or GetAxis()
	(DONE) Movement Speed available in Inspector
	(DONE) Application.Quit()

Project 2:
	(DONE) GameManager Singleton
	(DONE) OnTriggerEnter2D()
	(DONE) Instantiate()
	(DONE) Destroy after Delay(Lifespan)
	(DONE) GameManager controls GameLogic (Lives/Spawns/GameOver)

Project 3:
	(DONE) Canvas Screen Space
	(DONE) Canvas Buttons
	(DONE) Canvas Scaling
	(DONE) Canvas Text Object
	(DONE) Physics2D.Raycast()

Project 4:
    (DONE) Multiple Scenes
	(DONE) Player affected by gravity
	(DONE) Detect if player is grounded
	(DONE) Music
	(DONE) Checkpoints

Maybe Later:
	Add Enemies
		I want at least 2, same controller, different pawns, different attacks, or movement, not sure yet what I want from them
	Add WorldSpace Widgets for enemy HP
	Add Player Attacks
		must instantiate fx with trigger
		must use random.range for dmg
	Refactor controller to  use pawns
	Add vendor to spend points for extra lives... Maybe?

TODO B4 Due:
	Add Tutorial
	Polish Victory / Loss Scenes